# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# IntelliJ/Android Studio specific
**/*.iml
**/.idea/
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dart.xml
**/.idea/copyright/profiles_config.xml
**/.idea/modules.xml
**/.idea/dart-fmt.xml
**/.idea/vcs.xml
**/.idea/dataSources.xml
**/.idea/dataSources.ids
**/.idea/sqlDataSources.xml
**/.idea/dynamic.xml
**/.idea/uiDesigner.xml
**/.idea/gradle.xml
**/.idea/libraries

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/


# Freezed code generation
.freezed.dart
.freezed_test.dart
.freezedtest/

# Dart package build directory
/build/

# Dart g.datrt
# *.g.dart

# Dart pub tool
.dart_tool/

# VS Code specific
**/.vscode/

# macOS specific
**/.DS_Store

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android specific
**/android/**/gradle-wrapper.jar
**/android/**/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*

# iOS specific
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Flutter.xcconfig
**/ios/Flutter/App.framework
**/ios/Flutter/App.podspec
**/ios/Flutter/App.xcconfig
**/ios/Flutter/Debug.xcconfig
**/ios/Flutter/Release.xcconfig
**/ios/GeneratedPluginRegistrant.*

# Avoid committing pubspec.lock for library packages
pubspec.lock
# 
lib/l10n/
lib/localization/