# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
# 
*.bak
#
main.yaml

# Flutter/Dart/Pub related
# **/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
# 
.sh copy/

# Dart package build directory
/build/

# Dart g.datrt
*.g.dart

# Dart pub tool
.dart_tool/


# VS Code specific
**/.vscode/

# Avoid committing pubspec.lock for library packages
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock


token.bak